* {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  align-items: stretch;
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

img {
  max-width: 100%;
  border: 1px solid black;
}

.wide {
  grid-row: span 2;
}

.tall {
  grid-column: span 2;
}